doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Курс по нейросетям
    link(rel="stylesheet" type="text/css" href="css/normalize.min.css")
    link(rel="stylesheet" type="text/css" href="css/main.min.css")
      style.
@font-face
  font-family: 'Evolventa';
  src: url('/assets/fonts/Evolventa-Regular.woff2') format('woff2'),
    url('/assets/fonts/Evolventa-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
@font-face
  font-family: 'Evolventa';
  src: url('/assets/fonts/Evolventa-Bold.woff2') format('woff2'),
    url('/assets/fonts/Evolventa-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  @font-face
  font-family: 'Involve';
  src: url('/assets/fonts/Involve-Regular.woff2') format('woff2'),
    url('/assets/fonts/Involve-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
@font-face
  font-family: 'Involve';
  src: url('/assets/fonts/Involve-Bold.woff2') format('woff2'),
    url('/assets/fonts/Involve-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  body
    .container
      header.header
        .header__logo
          a.header__logo-link(href="#")
            img.header__logo-image(src="/assets/images/logo.svg" alt="logo")
        nav.header__nav
          ul.header__menu
            li.header__menu-item
              a.header__menu-link(href="#main") Главная
            li.header__menu-item
              a.header__menu-link(href="#advantages") Преимущества
            li.header__menu-item
              button.btn.header__btn Личный&nbsp;кабинет
      section.hero
        .hero__content
          h1.hero__title
            span.hero__span--gardient Нейросеть
              br
            span.hero__span может всё!
          p.hero__description Мы&nbsp;уже живем в&nbsp;этой удивительной реальности
          button.btn.hero__btn.btn-primary Погрузиться&nbsp;в&nbsp;новый&nbsp;мир
        .hero__image-wrapper
          img.hero__image(src="/assets/images/hero.svg" alt="hero image")

      section.advantages
        h2.advantages__title(id="advantages") Преимущества курса
        p.advantages__description
          span.advantages__span Поможем создать 
          span.advantages__span корректный промт
          span.advantages__span , чтобы вы&nbsp;получили максимально корректный вариант под ваши нужды!
        ul.advantages__list
          li.advantages__item
            img.advantages__icon(src="/assets/images/icon1.svg" alt="icon")
            h3.advantages__subtitle Хотите открыть бизнес?
            p.advantages__text Нейросеть поможет составить бизнес-план, рассчитать расходы, нарисовать логотип, найти место получше и&nbsp;станет вашим главным деловым партнером
          li.advantages__item
            img.advantages__icon(src="/assets/images/icon2.svg" alt="icon")
            h3.advantages__subtitle Мечтаете об&nbsp;отпуске?
            p.advantages__text Нейросеть поможет найти место по&nbsp;вашим запросам, выбрать наилучший сезон, собрать чемодан, подыскать где остановиться и&nbsp;сделать ваш отпуск незабываемым
          li.advantages__item
            img.advantages__icon(src="/assets/images/icon3.svg" alt="icon")
            h3.advantages__subtitle Вы&nbsp;студент и&nbsp;нуждаетесь в&nbsp;помощи в&nbsp;учёбе?
            p.advantages__text Нет проблем! Нейросеть&nbsp;&mdash; ваш лучший друг, который поможет написать курсовую, решить сложный тест и&nbsp;подготовиться к&nbsp;экзаменам
          li.advantages__item
            img.advantages__icon(src="/assets/images/icon4.svg" alt="icon")
            h3.advantages__subtitle Интересует здоровый образ жизни?
            p.advantages__text Нейросеть поделится советами по&nbsp;сбалансированному питанию, безопасным тренировкам и&nbsp;поддержке мотивации.
