doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Курс по нейросетям
    link(rel="stylesheet" href="css/normalize.min.css")
    link(rel="stylesheet" href="css/main.min.css")
  body
    .container
      header.header
        .header__logo
          a.header__logo-link(href="#")
            img.header__logo-image(src="" alt="logo")
        nav.header__nav
          ul.header__menu
            li.header__menu-item
              a.header__menu-link(href="#main") Главная
            li.header__menu-item
              a.header__menu-link(href="#Advantages") Преимущества
            li.header__menu-item
              button.header__btn Личный кабинет
      section.hero
        .hero__content
          h1.hero__title
            span.hero__span--gardient Нейросеть
              br
            span.hero__span может всё!
          p.hero__description Мы&nbsp;уже живем в&nbsp;этой удивительной реальности
          button.hero__btn.btn-primary Погрузиться&nbsp;в&nbsp;новый&nbsp;мир
        .hero__image-wrapper
          img.hero__image(src="" alt="hero image")

      section.advantages
        h2.advantages__title Преимущества курса
        p.advantages__description
          span.advantages__span Поможем создать 
          span.advantages__span корректный промт
          span.advantages__span , чтобы вы&nbsp;получили максимально корректный вариант под ваши нужды!
        ul.advantages__list
          li.advantages__item
            img.advantages__icon(src="" alt="icon")
            h3.advantages__subtitle Хотите открыть бизнес?
            p.advantages__text Нейросеть поможет составить бизнес-план, рассчитать расходы, нарисовать логотип, найти место получше и&nbsp;станет вашим главным деловым партнером
          li.advantages__item
            img.advantages__icon(src="" alt="icon")
            h3.advantages__subtitle Мечтаете об&nbsp;отпуске?
            p.advantages__text Нейросеть поможет найти место по&nbsp;вашим запросам, выбрать наилучший сезон, собрать чемодан, подыскать где остановиться и&nbsp;сделать ваш отпуск незабываемым
          li.advantages__item
            img.advantages__icon(src="" alt="icon")
            h3.advantages__subtitle Вы&nbsp;студент и&nbsp;нуждаетесь в&nbsp;помощи в&nbsp;учёбе?
            p.advantages__text Нет проблем! Нейросеть&nbsp;&mdash; ваш лучший друг, который поможет написать курсовую, решить сложный тест и&nbsp;подготовиться к&nbsp;экзаменам
          li.advantages__item
            img.advantages__icon(src="" alt="icon")
            h3.advantages__subtitle Интересует здоровый образ жизни?
            p.advantages__text Нейросеть поделится советами по&nbsp;сбалансированному питанию, безопасным тренировкам и&nbsp;поддержке мотивации.
