@import 'variables';

.advantages {
  &__title,
  &__description,
  &__subtitle,
  &__text {
    text-align: center;
    font-family: $font-dev;
  }

  &__title {
    font-size: 72px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  &__description {
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 96px;
    line-height: 1.1;
    font-weight: 400;
  }

  &__span {
    font-size: 24px;

    &--accent {
      color: $accent-color;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 235px 54px;
  }

  &__item {
    flex: 1 1 45%;
    min-width: 260px;
    max-width: 450px;
    min-height: 332px;
    background-color: $secondary-color;
    padding: 30px;
    border-radius: 18px;
  }

  &__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 18px;
  }

  &__subtitle {
    text-align: left;
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 18px;
    font-weight: 400;
  }

  &__text {
    text-align: left;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
  }

  // Медиазапросы
  @media (max-width: $tablet-max) {
    &__list {
      padding: 0 30px 54px;
    }
  }

  @media (max-width: $mobile-max) {
    &__title {
      font-size: 36px;
    }

    &__description {
      margin-bottom: 24px;
    }

    &__span {
      font-size: 16px;
    }

    &__list {
      padding: 0 15px 30px;
      gap: 15px;
    }
  }
}
