@import 'variables';

.advantages {
}

.advantages__description {
}

.advantages {
  &__title,
  &__description {
    text-align: center;
  }

  &__title {
    font-size: 72px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 24px;
    // font-family: $font-secondary;
    font-family: $font-dev;
  }

  &__description {
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 96px;
    line-height: 1.1;
    font-weight: 400;
  }

  &__span {
    font-size: 24px;

    &--accent {
      color: $accent-color;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    padding: 0 235px 54px;
  }

  @media (max-width: $tablet-max) {
    &__list {
      padding: 0 30px 54px;
    }
  }

  &__item {
    flex: 1 1 45%;
    min-width: 260px;
    max-width: 450px;
    min-height: 332px;
    background-color: $secondary-color;
    padding: 30px;
    border-radius: 18px;
  }

  &__icon {
    width: 30px;
    height: 30px;
    margin-bottom: 18px;
  }

  &__subtitle {
    font-size: 24px;
    line-height: 1.1;
    margin-bottom: 18px;
    font-weight: 400;
  }

  &__text {
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    // font-family: $font-secondary;
    font-family: $font-dev;
  }
}
