.header {
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 96px;

  @media (max-width: $desktop-min) {
    &__nav {
      display: none;
    }
  }

  &__logo {
    margin-right: 25px;
    height: 53px;
    &:hover {
      .header__logo-image {
        transform: scale(1.2);
        &:active {
          transform: scale(0.8);
          opacity: 0.5;
        }
      }
    }
  }

  &__menu-link {
    font-size: 24px;
    line-height: 1.1;
    font-weight: 400;
    font-family: $font-dev;
    opacity: 0.6;

    &:hover {
      opacity: 1;
    }

    &:focus {
      opacity: 1;
    }

    &:active {
      color: $accent-color-hover;
    }
  }

  &__btn {
    padding: 10px 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    &:hover {
      color: $accent-color;
      border-color: $accent-color;
    }

    &:active {
      color: $text-color;
      border-color: $accent-color-hover;
      background-color: $accent-color-hover;
    }
  }

  &__menu {
    display: flex;
    width: 707px;
    justify-content: space-between;

    &-link {
      display: inline-block;
      padding: 10px 20px;
    }
  }

  // Для мобильных устройств (меню скрыто)
  @media (max-width: $tablet-max) {
    &__menu {
      display: none; // Скрыть меню на мобильных устройствах
    }

    &__burger {
      display: flex; // Показываем бургер-меню на мобильных устройствах
      flex-direction: column;
      justify-content: space-around;
      height: 20px;
      width: 25px;
      border: none;
      background: transparent;
      cursor: pointer;

      span {
        background-color: $text-color;
        height: 3px;
        width: 100%;
        border-radius: 5px;
        transition: all 0.3s;
      }
    }

    // Стили для мобильного меню

    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    &-item {
      font-size: 24px;
      text-align: center;
      color: $text-color;
      padding: 20px;
      border-bottom: 1px solid $text-color;

      &:hover {
        background-color: $accent-color;
      }
    }
  }
}

// BURGER NAV
.header__burger {
  @media (min-width: $desktop-min) {
    position: absolute;
    display: none;
  }
}
// BURGER NAV
