.hero {
  display: flex;
  justify-content: space-between;

  &__content-wrapper {
    @media (max-width: $mobile-max) {
      padding: 0 15px;
    }
  }

  &__div--gardient {
    font-size: 120px;
    font-weight: 500;
    line-height: 0.9;
    background-image: linear-gradient(
      to left,
      $accent-color-light-hover 0%,
      $accent-color-light 44%,
      $accent-color 100%
    );
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    @media (max-width: $mobile-max) {
      font-size: 16vw;

      &__content {
        padding: 0;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__div {
    font-weight: 400;
    line-height: 1.1;
    font-size: 80px;
    margin-bottom: 30px;

    @media (max-width: $mobile-max) {
      font-size: 10vw;
      margin-bottom: 18px;
    }
  }

  &__description {
    line-height: 1.1;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 72px;

    @media (max-width: $mobile-max) {
      font-size: 4.7vw;
      margin-bottom: 30px;
    }
  }

  &__btn {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;

    &--primary {
      background-color: $accent-color;
      border-color: $accent-color;
      color: $text-color;
      margin-bottom: 60px;

      &:hover {
        background-color: transparent;
        color: $accent-color;
      }

      &:active {
        background-color: $accent-color-hover;
        border-color: $accent-color-hover;
        color: $text-color;
      }
    }

    @media (max-width: $mobile-max) {
      font-size: 5vw;
      display: block;
      width: 100%;
    }
  }

  &__image {
    width: 107%;
    max-height: 726px;
    height: auto;
    transform: translateX(7%);
  }
}

@media (max-width: $tablet-max) {
  .hero {
    flex-direction: column-reverse;
  }
}

@media (max-width: $mobile-max) {
  .hero {
    justify-content: center;
  }
}
