@import 'variables';
@import 'mixins';
@import 'global';
// @import 'header';
// @import 'hero';
// @import 'advantages';


body {
  font-family: 'Involve', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: $background-color;
}

h1 {
  
}
