@import 'variables';
@import 'global';
@import 'mixins';
@import 'header';
@import 'hero';
@import 'advantages';

.container {
  min-width: $mobile-min;
  max-width: $desktop-max;
  padding: 0 100px 30px;
}
