@import 'variables';
@import 'global';
@import 'header';
@import 'hero';
@import 'advantages';

.container {
  min-width: $mobile-min;
  max-width: $desktop-max;
  padding: 0 260px 30px;
  overflow: hidden;

  @media (max-width: $tablet-max) {
    padding: 0 30px 30px;
  }

  @media (max-width: $mobile-max) {
    padding: 0 15px 6px;
  }
}
