$base-font-size: 24px;
$base-line-height: 1.1;
$text-center: center;

.modalTwo {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
    z-index: 99999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);

    &-container {
      background: $primary-color;
      padding: 30px 60px 60px;
      border-radius: 24px;
      width: 688px;
    }

    &__title,
    &__description {
      font-size: 44px;
      line-height: $base-line-height;
      font-weight: 400;
      text-align: $text-center;
    }

    &__description {
      font-size: $base-font-size;
    }

    &__close-btn {
      display: block;
      position: relative;
      top: 0;
      left: -20px;
      background: none;
      border: none;
      cursor: pointer;
      transition: color 0.3s;
      margin: 0 0 0 auto;
      height: 30px;
      width: 30px;
      margin-bottom: 30px;

      span {
        background-color: $text-color;
        display: block;
        width: 40px;
        height: 2px;
        transition: background-color 0.3s;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }
    }

    &__input {
      width: 100%;
      padding: 18px;
      margin-bottom: 30px;
      border: 1px solid transparent;
      background-color: $secondary-color;
      border-radius: 18px;
      font-size: $base-font-size;
      line-height: $base-line-height;
      text-align: $text-center;
      outline: none;

      // Базовое состояние для пустого поля (placeholder виден)
      &:placeholder-shown {
        border-color: transparent; // Пустое поле не имеет видимой рамки.
      }

      // :valid (корректно введённый email)
      &:valid {
        border-color: $accent-color-light-hover;
      }

      // :invalid (некорректное поле, но только если не пустое)
      &:invalid:not(:placeholder-shown) {
        border-color: $accent-color;
      }

      // Состояние :hover
      &:hover {
        border-color: $accent-color-light-hover;

        // Для плейсхолдера при наведении
        &::placeholder {
          color: $text-color;
        }
      }

      // :hover:invalid
      &:hover:invalid:not(:placeholder-shown) {
        border-color: $accent-color;
      }

      // :focus и :active
      &:focus,
      &:active {
        border-color: $accent-color-light-hover;

        &::placeholder {
          color: $text-color;
        }
      }
    }

    &__btn {
      margin: 0;
      display: block;
      width: 100%;
    }
  }
}

.error-message {
  display: none;
  position: relative;
  top: -6px;
  color: $accent-color;
  font-size: 12px;
  margin-bottom: 15px;
}

// MOBILE
@media (max-width: $mobile-max) {
  .modalTwo {
    padding: 0 15px;

    &-container {
      width: 100%;
      padding: 15px 15px 30px;
      border-radius: 14px;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 42px;
    }

    &__description {
      display: none;
    }

    .modalTwo__img {
      display: none;
    }

    &__close-btn {
      height: 24px;
      width: 24px;
      margin-bottom: 15px;

      span {
        width: 30px;
        height: 2px;
      }
    }

    &__input {
      border-radius: 8px;
      padding: 16px;
      margin-bottom: 15px;
      font-size: 20px;
    }
  }
}

.modalTwo__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
