.modal {
  display: none;
  position: fixed;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
}

.modal-container {
  position: fixed;
  background: $secondary-color;
  padding: 30px 60px;
  border-radius: 24px;
}

.modal__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  transition: color 0.3s;

  span {
    background-color: $text-color;
    display: block;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    transition: background-color 0.3s;

    &:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
      left: 50%;
      transform-origin: center;
    }
  }
}

form#modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  input {
    width: 100%;
    max-width: 350px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
  }

  button.modal__btn {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
}
