// Цвета
$background-color: #000;
$text-color: #FFF;
$primary-color: #161524;
$secondary-color: #1B1A2C;
$accent-color: #F706A3;
$accent-color-hover: #CA0078;
$accent-color-light: #5A73EF;
$accent-color-light-hover: #81F3F8;

// Шрифты
$font-primary: 'Involve', Helvetica, sans-serif;

// Размеры
$desktop: 1200px;
$tablet: 768px;
$mobile: 320px;
 